<!--The content below is only a placeholder and can be replaced.-->
welcome to {{ title}} <br />
on button click {{assignClick}}<br />
<button type="button" (click)="call()">clickme</button>
<div style="border:1px solid red">
  Name: {{ Productname }} <br />
  about: {{ Productdescription }} <br />
  cost: {{ Productcost }}
  <child [Allreviews]="Productreviews">

  </child>

  ----
</div>
<div style="border:5px solid red;text-align: center">
  Emp information
  <app-salary-comp (clickemitRef)="TotalEmpComp()"></app-salary-comp>
</div>
<div style="border:1px solid blue">
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/about']">About</a>

</div>
<div>
  <div style="border: 1px solid blue">
    {{Name | lowercase}} <br />
    {{Name | uppercase}} <br />
    {{thisDay }} <br />
    {{thisDay | date}} <br />
    {{thisDay | date:'dd/MM/yyyy'}} <br />
    {{Eligiblepercent}} <br />
    {{Eligiblepercent | number :'2.2-3'}}<br />
    {{ curcountry | currency}} <br />
    {{ curcountry | currency: 'INR': true :'2.2-3'}}<br />
    {{Name | slice: 3:4}}

  </div>
  <router-outlet></router-outlet>
</div>
<div style="border:1px solid green">
  <input type="text" [(ngModel)]='empFind' />
  <table>
    <thead>
      <td>Name</td>
      <td>Gender</td>
      <td>Salary</td>
    </thead>
    <tbody>
      <tr *ngFor="let x of Employees | filteremp:'empFind'">
        <td>{{x.ename}}</td>
        <td>{{x.gender | setGender}}</td>
        <td>{{x.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button [disabled]='btnDisabled'>click me</button><br />
  <button [disabled]='!btnDisabled'>click me</button><br />
  {{4+6}}
  <button disabled={{btnDisabled}}>click me</button><br />
  <button disabled={{!btnDisabled}}>click me</button>
  {{something}}
</div>

<div style="text-align: center">
  <table border="1">
    <thead>
      <td>S.NO</td>
      <td>ename</td>
      <td>deptname</td>
    </thead>
    <tbody>
      <tr *ngFor="let x of Employees1;let i =index">
        <td>{{i}}</td>
        <td>{{x.ename}}</td>
        <td>{{x.deptname}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf='display'>
  Div Displays...
</div>

<div *ngIf='salary < 50000'>
  salary lessthan 50000 : {{salary}}
</div>

<div *ngIf='salary > 50000'>
  salary gretaerthan 50000 :{{salary}}
</div>
<div style="text-align: center">
  name is {{name1}} <br />
  score is {{score}}<br />
  height is {{Height}} <br />
  eligibility: {{isActivate}} <br />
  color is: {{colorIs}} <br />
  color index is : {{colorIndexIs}} <br />
  Unknown is : {{dontknow}} <br />
  {{empId}} <br />
  {{depts}} <br />
  {{arrayobj[0]}}
</div>
<button (click)="sample()">click me</button><br/>
<button (click)="btnclik()">count</button><br/>
click is {{countIs}}

<div style="text-align: center">
 <input type="text" [(ngModel)]='Message'/>
 {{Message}}
</div>
